.header {
  width: 100%;
  padding: 2.5rem 2.5rem;
  position: relative;
  margin: 1rem 0;
  max-width: 1700px;
  margin: 1rem auto;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--foreground-filter, none);
}

.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-left: 2rem;
}

.themeToggle img {
  width: 24px;
  height: 24px;
  transition: opacity 0.2s;
  filter: var(--foreground-filter, none);
}

.themeToggle:hover {
  background-color: var(--gray-alpha-100);
}

.navLinks {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}

.navLink {
  text-decoration: none;
  color: var(--foreground);
  font-size: 1rem;
  position: relative;
  padding-bottom: 2px;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--foreground) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:hover::after {
  background-position: 0 0;
}

.separator {
  color: var(--foreground);
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--foreground);
  margin-left: 2rem;
}

.arrow {
  display: inline-block;
  font-size: 1rem;
  transform: rotate(0deg);
}

.roleContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem 0 0;
  border-top: 1px solid var(--foreground);
  width: 100%;
}

.role {
  font-size: 1rem;
  color: var(--foreground);
}
